<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travey</title>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/styles.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div id="catalogue">
    <header>
        <nav class="navbar navbar-expand-sm fixed-top navbar-light navi">
            <a class="navbar-brand" href="index.html"><h3>Travey</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Routes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tickets.html">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Promotion</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Asia</a>
                            <a class="dropdown-item" href="#">America</a> 
                            <a class="dropdown-item" href="#">Australia</a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a> -->
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user"></i> User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#myModal">
                            <i class="fas fa-shopping-cart"></i> Cart  <span class="badge badge-success">{{countCart}}</span></a>
                    </li>
                </ul>
            </div>   
        </nav>
    </header>

    <!-- ===================================== Head Template ===================================== -->

    <!-- <div class="parallax"></div> -->
    <div class="mt-5"></div>
    <div class="greenline mt-5"></div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6 mt-4 cardBox" v-for="ticket in tickets">
                <div class="card">
                    <img class="img-fit"
                        alt="image not found" v-bind:src="ticket.imageUrl">
                    
                    <p class="card-title mt-2" style="font-size: 12px;">{{getName(ticket.name)}}</p>
                    <p class="text-right mb-0 text-justify">{{pricing(ticket.price)}}</p>
                    <small class="text-right mb-0 text-justify"><small>Stock: {{ticket.stock}}</small></small>
                    <button type="button" class="btn btn-success btn-sm" v-on:click="addToCart(ticket)" v-if="ticket.stock">Buy</button>
                    <button type="button" class="btn btn-danger btn-sm" v-else>Sold Out</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ===================================== Foot Template ===================================== -->
    
    
    <footer class="mt-4">
        <div class="greenline"></div>
        <div class="page-footer font-small stylish-color-dark pt-4" id="footData" style="margin: 0px;">
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left mt-3 pb-3">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 footer-content">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Travey</h6>
                        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <hr class="w-100 clearfix d-md-none">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 footer-content">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        <p><a href="#!">MDBootstrap</a></p>
                        <p><a href="#!">MDWordPress</a></p>
                        <p><a href="#!">BrandFlow</a></p>
                        <p><a href="#!">Bootstrap Angular</a></p>
                    </div>
                    <hr class="w-100 clearfix d-md-none">
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 footer-content">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                        <p><a href="#!">Your Account</a></p>
                        <p><a href="#!">Become an Affiliate</a></p>
                        <p><a href="#!">Shipping Rates</a></p>
                        <p><a href="#!">Help</a></p>
                    </div>
                    <hr class="w-100 clearfix d-md-none">
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 footer-content">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
                        <p><i class="fa fa-envelope mr-3"></i> info@gmail.com</p>
                        <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                    </div>
                </div>
                <hr>
                <div class="row py-3 d-flex align-items-center">
                    <div class="col-md-8 col-lg-8 footer-content">
                        <p class="text-center text-md-left grey-text">© 2018 Copyright: <a href="index.html"><strong style="color: rgb(66, 244, 134);"> Travey.com</strong></a></p>
                    </div>
                    <div class="col-md-4 col-lg-4 ml-lg-0">
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><a href="fb.com" class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-facebook-square"></i></a></li>
                                <li class="list-inline-item"><a href="twitter.com" class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-twitter-square"></i></a></li>
                                <li class="list-inline-item"><a href="google.com" class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-google-plus"></i></a></li>
                                <li class="list-inline-item"><a href="linkedin.com" class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- ===================================== Modal Template ===================================== -->

    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody v-for="item in cart">
                    <tr>
                        <td>{{item.name}}</td>
                        <!-- <td>
                            <input type="number" class="form-control text-center" v-model.number="item.qty">
                        </td> -->
                        <td>{{item.qty}}</td>
                        <td>{{pricing(item.price*item.qty)}}</td>
                        <td><button type="button" class="btn btn-outline-danger" v-on:click="deleteCartItem(item.productId)"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="text-right mb-0">Grand Total</th>
                        <td>:</td>
                        <td>{{getGrandTotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-primary mr-auto" data-dismiss="modal">
                < Continue Shopping
            </button>
            <button type="button" class="btn btn-success" onclick="location.href='checkout.html'">
                Checkout >
            </button>
        </div>
        
      </div>
    </div>
  </div>
</div>
<script src="./javascript/tickets.js"></script>
</body>
</html>